.btn{
    display: block;
    width: 100%;
    font-size: 2.0rem;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    background: black;
    padding: 1rem 0;
    margin: 0 auto;
    border: 0;
    outline: none;
    cursor: pointer;
}